doctype html
html
  head
    title ToDo App
    link(rel='stylesheet', href='/styles/style.css')
    link(rel="stylesheet", href="/vendors/bootstrap/dist/css/bootstrap.min.css")
  body(ng-app='ToDoApp')
    block content


    script(src="/node_modules/angular/angular.js")
    script(type="text/javascript", src="/assets/scripts/app.min.js")